body { 
  background-color: #E8E8E8;
}
textarea:focus, input[type='text']:focus {
  border: 0.1rem solid #227791;
}
#formContainer {
  margin-top: 50px;
}
#logoContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 20px;
}
#logo {
  width: 80px;
}

@media only screen and (max-width: 364px) {
  #logo {
    margin-top: 10px;
  }
}


#headerContainer {
 display: flex;
 flex-direction: column;

}

#header {
  margin-left: 20px;
}
#subHeader {
  max-width: 600px;
  margin-top: 20px;
}

.button-green {
  background-color: #227791;
  border-color: #227791;
}
.button-green.button-outline {
  color: #227791;
}
.button-green.button-clear {
  color: #227791;
}
#submitMessage {
  color: coral;
      }